# .prettierignore

# dist
dist/
output/


# 打包的配置文件
**/**config**
**/**webpack**

# IDE 配置文件
.idea/
.run/


# 依赖包
node_modules/

# 日志文件
**/Log/**
**.log

# 类型定义文件
types/


# out 文件夹
src/lib/out/
out/

# 忽略整个目录（任何层级）
config/
third/

